extends layout

block content
  div.newpostform
    h1 Insert a New Post
    form(name="newpost", action="/newpost", method="post")
      strong Assegna il post ad una discussione esistente
      br
      font Discussion:
      select(name="discussion")
        each cat, i in cats
          option(value="#{cat.name}") #{cat.name}
      br
      strong Title
      br
      input(type="text", name="posttitle")
      br
      strong Content
      br
      input(type="text", name="postcontent")
      br
      font Select a category (optional)
      br
      font Category:
      select(name="category")
        option(value="")
        each cat, i in cats
          option(value="#{cat.name}") #{cat.name}
      br
      input(type="submit", value="newpost")
    br
  a(href='/') HoMe