extends layout

block content
  h1= title
  div.regform
    p login with your username and password
    form(name="login", action="/newuser", method="post")
      strong username
      input(type="text", name="user")
      br
      strong password
      input(type="password", name="pass")
      br
      strong real name
      input(type="text", name="user")
      br
      strong email
      input(type="text", name="user")
      br
      input(type="submit", value="register")
