body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
table.posts {
  border: 1px solid black;
}
td.posts_header {
  border: 1px solid black;
  text-align: center;
}
td.posts {
  border: 1px solid black;
}
font.posts {
  color: #000000;
  font-family: "Arial";
  font-size:12px;
  font-weight: normal;
}